/* Account Settings Container */
.account-settings {
  width: 375px;
  height: 812px;
  border: 1px solid #ddd;
  background: #f7f8f9;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Title */
.account-title {
  height: 68px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000007;
  opacity: 1;
  text-align: left;
  font-size: 18px;
  background-color: #ffffff;
  color: #1d2226;
  text-transform: capitalize;
  padding: 27px 15px 19px;
  font-weight: 400;
}

/* Profile Card */
.profile-card {
  display: flex;
  align-items: start;
  padding: 30px 18px 0px 18px;
  background: #f7f8f9;
  margin-bottom: 30px;
}

/* Profile Image */
.profile-image-container {
  position: relative;
  width: 76px;
  height: 76px;
}

.profile-image {
  border-radius: 50%;
}

/* Camera Icon */
.camera-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 21px;
  height: 23px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Profile Info */
.profile-info {
  margin-left: 20px;
}

.profile-name {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 6px;
}

.profile-email {
  font-size: 14px;
}

/* Profile Description */
.profile-description {
  padding: 0px 18px 0px 18px;
  font-size: 14px;
  text-transform: capitalize;
  line-height: 22px;
  margin-bottom: 20px;
}

.break1 {
  border: 1px dashed #cbcbcb;
  opacity: 1;
}

.break2 {
  border: 1px dashed #cbcbcb;
  opacity: 1;
  margin-top: 460px;
}
